body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav h3 {
  padding: 8px 8px 4px 8px;
  color: #818181;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
}
.sidenav a {
  padding: 6px 8px 6px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  margin-right: 100px;
  padding: 0px 10px;
}
.main h1 {
  margin: 1rem .5rem;
}
.main p {
  margin: 1.5rem;
}

img#headshot {
 float: right;
 border-radius: 8px;
 max-width: 20%;
 margin-left: 1rem;
}
