* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}

html,
body,
div {
  margin: 0;
  padding: 0;
}

body.main-container {
  background: rgb(110, 110, 160);
}

header {
  background-color: rgb(171, 208, 240);
  justify-content: center;
}

header>h1 {
  justify-content: center;
  text-align: center;
}

div#main {
  max-width: 1200px;
  margin: 0 10%;
  padding: 1em;
}

footer {
  background-color: rgb(171, 208, 240);
  justify-content: center;
}

footer>h3 {
  justify-content: center;
  text-align: center;
}